#off {
  font-family: sans;
  font-size: 90px;
  color: transparent;
  animation: effect 1s linear infinite;
}

#cardoffp {
  display: inline;
}

#cards-container {
  width: 25%;
}

#topProductos {
  font-family: ashrila;
  color: rgb(163, 163, 163);
}

.products {
  padding: 5% 0 0;
}
.products .card {
  border: none;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
}
.products .card .card-body {
  color: #fff;
  background: #000000;
}
.products .card .card-body a {
  color: #9627ff;
}
.products .card .card-body .card-title {
  font-size: 30px;
  font-weight: 700;
  transition: all 0.5s ease-in-out;
}

.btn-group .btn {
  background: #9627ff;
  color: #fff;
  font-size: 18px;
  margin-right: 5px;
  padding: 10px 20px;
  font-weight: 700;
  transition: all 0.6s ease-in;
}
.btn-group .btn .price {
  font-size: 25px;
  font-weight: 900;
  transition: 0.6s;
}

.card:hover .price {
  animation: pulse 0.5s ease-in-out infinite;
}

.products {
  padding: 5% 0 0;
}
.products .card {
  border: none;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
}
.products .card .card-title {
  font-size: 30px;
  font-weight: 700;
}

.btn-group .btn {
  background: #9627ff;
  color: #fff;
  font-size: 18px;
  margin-right: 5px;
  padding: 10px 20px;
  font-weight: 700;
  transition: all 0.6s ease-in;
}
.btn-group .btn .price {
  font-size: 25px;
  font-weight: 900;
  transition: 0.6s;
}

.btn:hover {
  background: #fff;
  color: #262626;
}

.footer-brand {
  font-family: sans;
  font-size: 60px;
}

@media (max-width: 960px) {
  #cardoff {
    width: 100%;
    display: flex;
    justify-content: stretch;
  }
  #carrusel {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 550px) {
  #cardoffp {
    display: none;
  }
}
@media (min-width: 768px) {
  #canvas_second_section {
    display: flex;
  }
  #offcanvas_second_section {
    display: none;
  }
}
@media (max-width: 767px) {
  #canvas_second_section {
    display: none;
  }
  #offcanvas_second_section {
    display: flex;
  }
}
/* media main */
@media (max-width: 991px) {
  .card {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .btn-group .btn {
    font-size: 9px;
  }
}
@media (max-width: 767px) {
  .footer-brand {
    font-size: 40px;
  }
}
@media only screen and (min-width: 767px) and (max-width: 991px) {
  .footer-brand {
    font-size: 55px;
  }
}
/* keyframes */
@keyframes effect {
  0% {
    background: linear-gradient(#ffffff, #ffffff);
    -webkit-background-clip: text;
  }
  100% {
    background: linear-gradient(#ff41cf, #bb2a97);
    -webkit-background-clip: text;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  0% {
    transform: scale(1);
  }
}
#lsidebox {
  background-color: rgba(0, 0, 0, 0.932);
}

.side-title .side-subtitle {
  color: white;
  font-family: ashrila;
  font-size: 20px;
}
.side-title .side-subtitle:hover {
  color: rgb(209, 207, 207);
}
.side-title .side-items {
  text-decoration: none;
  list-style-type: none;
  font-family: arshila;
  padding: 3px 0 3px 20px;
}
.side-title .side-items a {
  color: rgb(155, 155, 155);
}
.side-title .side-items a:hover {
  color: rgb(180, 180, 180);
}

#rbar-title {
  font-family: ashrila;
  color: white;
}

.col-3 .card .card-body {
  padding: 12px;
}
.col-3 .card .card-body .card-title {
  font-size: 22px;
  padding: 0px;
  margin: 0 0 6px 0;
}

#miaw .col-3 .btn {
  padding: 4px;
  height: 50px;
}

@media only screen and (min-width: 1050px) and (max-width: 1442px) {
  #miaw .col-3 .btn {
    padding: 4px;
    height: 60px;
  }
}
@media only screen and (min-width: 871px) and (max-width: 1049px) {
  #miaw .col-3 .btn {
    padding: 1px 4px 4px 4px;
    height: 40px;
    font-size: 12px;
  }
}
@media only screen and (min-width: 841px) and (max-width: 871px) {
  #miaw .col-3 .card-title {
    font-size: 20px;
  }
  #miaw .col-3 .btn {
    padding: 2px 4px 4px 4px;
    height: 40px;
    font-size: 11px;
  }
}
@media only screen and (min-width: 689px) and (max-width: 841px) {
  #miaw .col-3 .card-title {
    font-size: 17px;
  }
  #miaw .col-3 .btn {
    padding: 2px 4px 4px 4px;
    height: 40px;
    font-size: 8px;
  }
}
@media only screen and (min-width: 602px) and (max-width: 689px) {
  #miaw .col-3 .card-title {
    font-size: 15px;
  }
  #miaw .col-3 .btn {
    padding: 2px 4px 4px 4px;
    height: 40px;
    font-size: 8px;
  }
  #miaw span {
    display: none;
  }
}
@media only screen and (min-width: 100px) and (max-width: 602px) {
  #miaw .col-3 .card-title {
    font-size: 12px;
  }
  #miaw .col-3 .btn {
    padding: 2px 4px 4px 4px;
    height: 40px;
    font-size: 8px;
  }
  #miaw span {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  padding: 0px;
}

#title-aboutUs {
  padding-top: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: rgb(224, 224, 224);
}

@media only screen and (min-width: 784px) and (max-width: 1199px) {
  .row .col {
    padding-top: 20px;
  }
  .row .col-3 {
    width: 70%;
  }
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

@font-face {
  font-family: Sans;
  src: url(../assets/ttf/radinela.sans.otf) format(opentype);
}
@font-face {
  font-family: asrhila;
  src: url(../assets/ttf/arshila.extrabold.otf) format(opentype);
  font-weight: bold;
}
#flashion {
  font-family: sans;
  font-size: 65px;
  padding: 0px;
}

#flashion:hover {
  color: rgb(180, 180, 180);
}

#flashion2 {
  font-family: sans;
  font-size: 95px;
  padding: 0px;
}

#backgroundgradient {
  background: rgb(2, 0, 36);
  background: linear-gradient(180deg, rgb(2, 0, 36) 0%, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 0%, rgb(117, 46, 185) 100%, rgb(0, 0, 0) 100%);
}

#logo {
  display: flex;
}

#mianr {
  background-color: white;
}

.example::-webkit-scrollbar {
  display: none;
}

.example {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#offcanvas-footer {
  display: none;
}

@media only screen and (min-width: 100px) and (max-width: 575px) {
  footer #canvas-footer {
    display: none;
  }
  footer #offcanvas-footer {
    display: block;
  }
}
@media only screen and (min-width: 100px) and (max-width: 484px) {
  footer #footer_link {
    width: 100%;
  }
  footer .col-3 {
    width: 30%;
  }
  footer .col-2 {
    width: 20%;
  }
}/*# sourceMappingURL=main.css.map */