#lsidebox{
    background-color: rgba(0, 0, 0, 0.932);
}
.side-title{

    .side-subtitle{
        color: white;
        font-family: ashrila;
        font-size: 20px;
    }
    .side-subtitle:hover{
        color: rgb(209, 207, 207);
    }

    .side-items{
        text-decoration: none;
        list-style-type: none;
        font-family: arshila;
        padding: 3px 0 3px 20px;

        a{
            color: rgb(155, 155, 155);
        }
    
        a:hover{
            color: rgb(180, 180, 180);
        }
    }
}
#rbar-title{
    font-family: ashrila;
    color: white;
}
.col-3{
    .card{
        .card-body{
            padding: 12px;
            .card-title{
                font-size: 22px;
                padding: 0px;
                margin: 0 0 6px 0;
           }     
        }
    }
}
#miaw{
    .col-3{
        .btn{
            padding: 4px;
            height: 50px;
            }
        }
    }


@media only screen and (min-width: 1050px) and (max-width: 1442px){
    #miaw{
        .col-3{
            .btn{
                padding: 4px;
                height: 60px;
                }
            }
        }
}
@media only screen and (min-width: 871px) and (max-width: 1049px){
    #miaw{
        .col-3{
            .btn{
                padding: 1px 4px 4px 4px;
                height: 40px;
                font-size: 12px;
                }
            }
        }
}
@media only screen and (min-width: 841px) and (max-width: 871px){
    #miaw{
        .col-3{
            .card-title{
                font-size: 20px;
            }
            .btn{
                padding: 2px 4px 4px 4px;
                height: 40px;
                font-size: 11px;
                }
            }
        }
}
@media only screen and (min-width: 689px) and (max-width: 841px){
    #miaw{
        .col-3{
            .card-title{
                font-size: 17px;
            }
            .btn{
                padding: 2px 4px 4px 4px;
                height: 40px;
                font-size: 8px;
                }
            }
        }
}
@media only screen and (min-width: 602px) and (max-width: 689px){
    #miaw{
        .col-3{
            .card-title{
                font-size: 15px;
            }
            .btn{
                padding: 2px 4px 4px 4px;
                height: 40px;
                font-size: 8px;
                }
            }
        span{
            display: none;
        }
        }
}
@media only screen and (min-width: 100px) and (max-width: 602px){
    #miaw{
        .col-3{
            .card-title{
                font-size: 12px;
            }
            .btn{
                padding: 2px 4px 4px 4px;
                height: 40px;
                font-size: 8px;
                }
            }
        span{
            display: none;
        }
        }
}
// @media only screen and (min-width: 478px) and (max-width: 767px){
//     .indumentaria-txt{
//         font-size: 20px;
//         color: white;
//         padding: 0px;
//         margin-top: 15px;
//     }
// }
// @media only screen and (min-width: 100px) and (max-width: 477px){
//     .indumentaria-txt{
//         font-size: 15px;
//         color: white;
//         padding: 0px;
//         margin-top: 15px;
//     }
// }